name: Plan and Apply Called Workflow

on:
  workflow_call:
    inputs:
      checkout_ref:
        required: true
        type: string
      github_environment:
        required: true
        type: string
      opentofu_kms_encryption_key:
        required: true
        type: string
      opentofu_plan_args:
        required: false
        type: string
      opentofu_state_bucket:
        required: true
        type: string
      opentofu_version:
        required: true
        type: string
      opentofu_workspace:
        required: true
        type: string
      service_account:
        required: true
        type: string
      working_directory:
        required: false
        type: string
        default: .
      workload_identity_provider:
        required: true
        type: string

    secrets:
      # Uncomment if you have private modules

      # ssh_key:
      #   required: true

      opentofu_plan_secret_args:
        required: false

permissions:
  contents: read
  id-token: write

env:
  # Early variable evaluation required for backend and provider configuration

  TF_VAR_state_bucket: ${{ inputs.opentofu_state_bucket }}
  TF_VAR_state_kms_encryption_key: ${{ inputs.opentofu_kms_encryption_key }}
  TF_VAR_state_prefix: ${{ github.event.repository.name }}

  # If you use private modules you'll need this env variable to use
  # the same ssh-agent socket value across all jobs & steps.

  # SSH_AUTH_SOCK: /tmp/ssh_agent.sock

jobs:
  plan:
    name: OpenTofu plan
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}

    steps:
      # GitHub - Checkout
      # https://github.com/marketplace/actions/checkout

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.checkout_ref }}

      # GitHub - Cache
      # https://github.com/marketplace/actions/cache

      - name: Setup cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ${{ inputs.working_directory }}/.terraform
            ${{ inputs.working_directory }}/.terraform.lock.hcl
            ${{ inputs.working_directory }}/plan.out
          key: ${{ inputs.opentofu_workspace }}-${{ github.run_id }}-${{ github.run_attempt }}

      # GitHub - Checkout
      # https://github.com/marketplace/actions/checkout

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.checkout_ref }}

      # Google Cloud Platform - Authenticate to Google Cloud
      # https://github.com/marketplace/actions/authenticate-to-google-cloud

      - name: Authenticate
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          create_credentials_file: true
          service_account: ${{ inputs.service_account }}
          workload_identity_provider: ${{ inputs.workload_identity_provider }}

      # GitHub - Setup SSH for private module access
      # Uncomment if you have private modules

      # - name: Private module access
      #   run: |
      #     ssh-agent -a $SSH_AUTH_SOCK
      #     mkdir -p ~/.ssh
      #     echo "${{ secrets.ssh_key }}" | tr -d '\r' | ssh-add -
      #     ssh-keyscan github.com >> ~/.ssh/known_hosts

      # Setup OpenTofu
      # https://github.com/marketplace/actions/opentofu-setup-tofu

      - name: OpenTofu setup
        uses: opentofu/setup-opentofu@9d84900f3238fab8cd84ce47d658d25dd008be2f # v1.0.8
        with:
          tofu_version: ${{ inputs.opentofu_version }}

      - name: OpenTofu format
        run: tofu fmt -check -diff

      - name: OpenTofu initialize
        run: tofu init

      - name: OpenTofu workspace
        run: >-
          tofu workspace select -or-create ${{ inputs.opentofu_workspace }}

      - name: OpenTofu validate
        run: tofu validate

      - name: OpenTofu plan
        id: plan
        run: |
          tofu plan -detailed-exitcode -input=false -out=plan.out ${{ inputs.opentofu_plan_args}} ${{ secrets.opentofu_plan_secret_args }}

      - name: OpenTofu show
        id: show
        run: tofu show -no-color plan.out

      - name: OpenTofu summary
        continue-on-error: true
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          OPENTOFU_OUTPUT: ${{ steps.show.outputs.stdout }}
        with:
          script: |
            const tofuOutput = process.env.OPENTOFU_OUTPUT || 'No output available.';
            core.summary
              .addCodeBlock(tofuOutput, 'hcl')
              .write();

    outputs:
      plan-exit-code: ${{ steps.plan.outputs.exitcode }}

  apply:
    name: OpenTofu apply
    needs: plan
    if: needs.plan.outputs.plan-exit-code == 2
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.github_environment }}

    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}

    steps:
      # GitHub - Checkout
      # https://github.com/marketplace/actions/checkout

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.checkout_ref }}

      # Google Cloud Platform - Authenticate to Google Cloud
      # https://github.com/marketplace/actions/authenticate-to-google-cloud

      - name: Authenticate
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          create_credentials_file: true
          service_account: ${{ inputs.service_account }}
          workload_identity_provider: ${{ inputs.workload_identity_provider }}

      # GitHub - Setup SSH for private module access
      # Uncomment if you have private modules

      # - name: Private module access
      #   run: |
      #     ssh-agent -a $SSH_AUTH_SOCK
      #     mkdir -p ~/.ssh
      #     echo "${{ secrets.ssh_key }}" | tr -d '\r' | ssh-add -
      #     ssh-keyscan github.com >> ~/.ssh/known_hosts

      # GitHub - Cache
      # https://github.com/marketplace/actions/cache

      - name: Restore cache
        uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ${{ inputs.working_directory }}/.terraform
            ${{ inputs.working_directory }}/.terraform.lock.hcl
            ${{ inputs.working_directory }}/plan.out
          key: ${{ inputs.opentofu_workspace }}-${{ github.run_id }}-${{ github.run_attempt }}

      # Setup OpenTofu
      # https://github.com/marketplace/actions/opentofu-setup-tofu

      - name: OpenTofu setup
        uses: opentofu/setup-opentofu@9d84900f3238fab8cd84ce47d658d25dd008be2f # v1.0.8
        with:
          tofu_version: ${{ inputs.opentofu_version }}

      - name: OpenTofu apply
        id: apply
        run: tofu apply -no-color plan.out

      - name: OpenTofu summary
        continue-on-error: true
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          OPENTOFU_OUTPUT: ${{ steps.apply.outputs.stdout }}
        with:
          script: |
            const tofuOutput = process.env.OPENTOFU_OUTPUT || 'No output available.';
            core.summary
              .addCodeBlock(tofuOutput, 'hcl')
              .write();
